Code/.vscode/*
Code/config.json
Code/connect-4-bot/*
Code/assets/connect-4/*
Code/assets/server-settings/*
Code/assets/blacklist/*
Code/assets/webhook-hosting/*
Code/assets/vote-log/recent-votes.dat
Code/node_modules/**/*
Code/recentData.dat
Code/commands/misc/test.js

# in-development:
Code/commands/puzzles/go-fish/*

Code/assets/euchre/**/*